Streamlit
Pandas
NumPy
Matplotlib
Seaborn (if used in analysis)
WordCloud
Emoji
URLExtract
scikit-learn
NLTK
Transformers (Sentiment & Emotion Detection)
Torch
SentencePiece (for some Hugging Face models)